
<br>
<br>
<div class="container" style="text-align: center">
 <button (click)="hiden=!hiden" class="btn btn-dark mb-3">Add user</button>
<div class="card card-body mb-3" *ngIf="hiden"> 
  
<form action="">
<h2>Add User</h2>

  <div class="form-group">
      <label list-group-item>firstname:</label>
      <input type="text" [(ngModel)]="user.firstname"  class="form-control" 
      name="firstname">
  </div>
 
  <div class="form-group">
      <label>lastname:</label>
      <input type="text" [(ngModel)]="user.lastname"  
      class="form-control" name="firstname">
  </div>
  <div class="form-group">
      <label >age:</label>
      <input type="number" [(ngModel)]="user.age" 
       class="form-control" name="age">
  </div>
  <div class="form-group">
      <label>Street Adddress:</label>
      <input type="text" [(ngModel)]="user.address.street"  
      class="form-control" name="firstname">
  </div>
  <div class="form-group">
      <label>City:</label>
      <input type="text" [(ngModel)]="user.address.city"  
      class="form-control" name="city">
  </div>
  <div class="form-group">
      <label>state:</label>
      <input type="text" [(ngModel)]="user.address.state" 
      class="form-control" name="state">
  </div>
  <div class="form-group">
      <label >joined:</label>
      <input type="text" [(ngModel)]="user.Register"  
      class="form-control" name="Register">
  </div>
   
 <button   (click)="AddUser()" class="btn btn-dark mb-2 btn-block" 
[disabled]="user.firstname == '' || user.lastname == '' ">add user</button>
</form>
</div>
</div>
<div class="container">
<h1>users</h1>
 
  

      <ul class="list-unstyled"  *ngIf="loaded && users?.length > 0" >
          <li class="card card-body mb-2"  *ngFor="let user of users" >

              
              <h3>{{user.firstname}}    {{user.lastname}}
                 
                 <button (click)="user.hide=!user.hide" class="btn btn-dark btn-sm">
                  <i [ngClass]="user.hide ? 'fa fa-plus':'fa fa-minus'"></i></button>
              
              </h3>  
<ul class="list-group" *ngIf="!user.hide && user.age && user.address ">
      
          <li class ="list-group-item"> Age: {{user.age}}</li>
          <li class ="list-group-item">Address: {{user.address.city}},{{user.address.state}},{{user.address.street}}</li>
            <li class="list-group-item">Joined: {{user.Register |date }} </li>
        </ul>
      </li>

        </ul>

  

<h4 *ngIf="users.length == 0">no users found</h4>
<h4 *ngIf="!loaded">Loading users</h4>
</div>
